body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #095c22; /* Hijau */
}

/* Header */
header {
  background: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  font-size: 28px;
  cursor: pointer;
}

.logo img {
  height: 60px;
}

/* Container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

/* Card */
.card {
  background: white;
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 12px 0 8px;
}

.card p {
  padding: 0 15px;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  background: #0d8a32;
  color: white;
  padding: 10px 15px;
  margin-bottom: 15px;
  text-decoration: none;
  border-radius: 6px;
}

.btn:hover {
  background: #0b6b27;
}
